{% extends 'style.html' %}


{% block content %}
<!-- <div class="container m-3 ">
 <form method="POST" class="form-group" action="">
	{% csrf_token %}
	<div class="form-group">
	{{ form.as_p }}
</div>
	<button type="submit" class="btn btn-success">Register</button>
    </form>
</div> -->
<form method="POST" class="form-group" action="">
	{% csrf_token %}
<section class="vh-100" style="background-color: #8c8d91;">
	<div class="container py-5 h-100">
	  <div class="row d-flex justify-content-center align-items-center h-100">
		<div class="col-12 col-md-8 col-lg-6 col-xl-5">
		  <div class="card shadow-2-strong" style="border-radius: 1rem;">
			<div class="card-body p-5 text-center">
  
			  <h3 class="mb-5">Sign up</h3>
  
			  <div class="form-group">
				
			</div>
			<div class="form-outline mb-4">
				<label for="Username">Username:</label>
				{{ form.username}}
			  </div>
  
			  <div class="form-outline mb-4">
				<label for="password">First Name:</label>
				{{ form.first_name}}
			  </div>

			  <div class="form-outline mb-4">
				<label for="password">Last Name:</label>
				{{ form.last_name}}
			  </div>

			  <div class="form-outline mb-4">
				<label for="password">Email:</label>
				{{ form.email}}
			  </div>

			  <div class="form-outline mb-4">
				<label for="password">Password:</label>
				{{ form.password1}}
			  </div>

			  <div class="form-outline mb-4">
				<label for="password">Confirm Password:</label>
				{{ form.password2}}
			  </div>
  
  
  
			  
			  
  
			  <button type="submit" class="btn btn-success">Register</button>
  
			  
  
			  
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>
</form>
{% endblock %}